html, body {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;
    /*background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px); background-size: 4vw 4vw;*/
}

body {
    display: table;
    clear: both;
    margin-top: 0px;
}

a {
    cursor: pointer;
    color: #41B0DB;
    text-decoration: underline;
}

div, section, input {
    margin: 0px;
    padding: 0px;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.2vw;
}

section#header {
    display: block;
    position: absolute;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding: 5.2vw;
    padding-top: 5.6vw;
}

img#logo {
    display: block;
    height: 15vw;
    margin-bottom: 2vw;
}

section#footer {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

section#footer div {
    display: inline-block;
}

div#progress {
    float: right;
    position: relative;
    width: 84vw;
    display: flex !important;
    justify-content: space-between;
    height: 4.5vw;
}

span.progress-section {
    display: inline-block;
    font-size: 1.1vw;
    text-transform: lowercase;
}

span.progress-section.active {
    color: #F5A623;
}

div#progress-indicator, div#progress-indicator-bg {
    position: absolute; bottom: 0px;
    background-color: #F5A623;
    width: 0%;
    height: 1vw;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
}

div#progress-indicator-bg {
    background: black;
    width: 100%;
}

div#progress-indicator img {
    position: absolute;
    right: -3vw; bottom: 7vw;
    width: 5.8vw;
}

section#controls {
    display: none;
    position: absolute;
    top: 3vw;
    width: 50%;
    right: 16%;
    text-align: right;
}

div.progress-counter {
    display: inline-block;
    margin-right: 2vw;
    margin-top: -0.2vw;
    vertical-align: top;
}
div.go-back {
    display: inline-block; cursor: pointer;
    width: 1vw;
    height: 1vw;
    margin-right: -0.47vw;
    border-left: 0.2vw solid black;
    border-top: 0.2vw solid black;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);

}

div.go-forward {
    border: 0px solid #81BBBE !important;
    color: white !important;
    font-weight: bold;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    background-color: #81BBBE !important;
    margin-top: 2vw !important;
}

section#question {
    display: block;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 50%;
    right: 16%;
}

section#question h1 {
    font-size: 1.65vw;
    line-height: 2vw;
    font-weight: 400;
}

section#question h2 {
    font-size: 1.2vw;
    line-height: 2vw;
    font-weight: 400;
}

section#question div.assessment, section#question div.note {
    font-size: 1vw;
    line-height: 1.35vw;
    margin-bottom: 1.5vw;
}

section#question div.options {
}

section#question div.option {
    display: inline-block;
    border: 1px solid #999;
    color: black;
    border-radius: 2px;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin-right: 0.3vw;
    margin-top: 10px;
    cursor: pointer;
}

section#question div.option.checked {
    background: black;
    color: white;
    border-color: black;
}

section#question h2 {
    display: inline-block;
    margin-right: 1.5vw;
}

section#question input.option {
    border: 0;
    border-bottom: 3px solid black;
    outline: none;
    font
}

section#question div.options {
    display: inline-block;
}
