
div#progress {
    width: 93vw;
}

section#question {
    width: 86vw;
    right: 7vw;
    top: 50%;
}

span.progress-section {
    color: rgba(1,1,1,0) !important;
}

span.progress-section.active:before {
    content: attr(data-label);
    font-size: 2vmax;
    position: absolute;
    left: 0px;
    margin-top: -1.5vmax;
    color: #F5A623;
}

div.progress-counter {
    font-size: 2vmax !important;
}

div.go-back {
    width: 2vmax !important;
    height: 2vmax !important;
}

section#controls {
    right: 6.66vmax !important;
    top: 7vmax !important;
}
