section#header {
    font-size: 0 !important;
}

div#progress {
    width: 93vw;
}

section#question {
    width: 86vw;
    right: 7vw;
    top: 50%;
}

span.progress-section {
    color: rgba(1,1,1,0) !important;
}

span.progress-section.active:before {
    content: attr(data-label);
    font-size: 2vmax;
    position: absolute;
    left: 0px;
    margin-top: -1.5vmax;
    color: #F5A623;
}

div.progress-counter {
    font-size: 2vmax !important;
    margin-top: -0.4vmax !important;
}

div.go-back {
    width: 2vmax !important;
    height: 2vmax !important;
}

section#header {
    padding-top: 2.7vmax;
}

section#controls {
    right: 6.66vw !important;
    top: 6vmax !important;
}

div#progress-indicator img {
    display: none;
}

section#question h1 {
    font-size: 3vmax;
    line-height: 4vmax;
    font-weight: 500;
}

section#question h2 {
    font-size: 2vmax;
    line-height: 3vmax;
    font-weight: 400;
}

section#question div.assessment, section#question div.note {
    font-size: 2vmax;
    line-height: 3vmax;
    margin-bottom: 1.5vmax;
}

section#question div.option {
    font-size: 2vmax;
    border: 1px solid black;
    padding: 1vmax 1vmax 1vmax 1vmax;
    margin-right: 0.6vmax;
    margin-top: 2vmax;
    min-width: 4vmax;
}

img#logo {
    height: 9.4vmax !important;
}
