#pdf-container{
  position: absolute; 
  left: 20px; 
  top: 50px; 
  bottom: 0; 
  overflow: auto; 
  width: 600px;
  font-family: Helvetica;
  display: none;
}

#pdf-container h2.heading:first-of-type {
    page-break-before: auto;
    margin-top:56px;
}

#pdf-container h2.heading {
    page-break-before: always;
    margin-top:150px;
}

a#download_pdf {
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    padding: 0.5vmax 0.5vmax 0.5vmax 0.5vmax;
    margin-right: 0.3vmax;
    cursor: pointer;
    text-align: center;
    min-width: 5vmax;
    color: white !important;
    font-weight: normal;
    padding-left: 2vmax !important;
    padding-right: 2vmax !important;
    background-color: black !important;
    margin-top: 0.3vmax !important;
}
